img.hero {
    height: auto;
    width: 60%;
    border-radius: 50px;
    align-self: center;
}
h1 {
    font-size: 150%; 
    font-family: lucida handwriting;
    color: brown;
    text-align: center;
}