img.hero {
    height: auto;
    width: 60%;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 150%; 
    font-family: lucida handwriting;
    color: brown;
    text-align: center;
}